<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hypnos Hotel</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">
    </head>
    <body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hypnos</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Page Accueil</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Mes réservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Réserver rapidement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Réserver rapidement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Se déconnecter</a>
                    </li> 
            </ul>
        </div>
    </div>
</nav>
        <h1>Je m'appel Semih et je suis un développeur Junior Symfony</h1>
    </div>
    </body>
    <footer class="container">
        <p>&copy; 2004–2022 Hypnos, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</html>
